@{
    ViewData["Title"] = "Результат";
}

<h1>Ваш сокращенный URL:</h1>
<p>
    <a href="@Model" target="_blank">@Model</a>
</p>
<li class="nav-item">
    <a class="nav-link text-dark"
       asp-area=""
       asp-controller="Home"
       asp-action="GetUrls"
       asp-all-route-data="@(new Dictionary<string, string> { { "PageSize", "10" }, { "PageNumber", "1" } })">
        Посмотреть другие сокращенные ссылки
    </a>
</li>